@use './reset';
@use './variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--fh-text);
  background: var(--fh-bg);
}

a {
  color: inherit;
  text-decoration: none;
}
